<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osnovni meni</title>
</head>

<body>
    <h1>Dobrodošli v aplikaciji Rekreacija!</h1>
    <p>Izberite, kaj bi si radi ogledali:</p>
    <p><a href="/igralec/meni">Podatki o igralcih</a></p>
    <p><a href="/tekme">Podatki o tekmah</a></p>
    <p><a href="/sezone">Podatki o sezonah</a></p>
    <p><a href="/lestvice">Lestvice</a></p>

</body>

</html>
